body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    height: 100vh;
}

.semaforo {
    width: 220px;
    height: 470px;
    background-color: rgb(32, 32, 32);
    border-style: solid;
    border-color: black;
    border-width: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    gap: 15px;
}

.vermelho, .amarelo, .verde {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: black;
    border-width: 6px;
}

.vermelho {
    background-color: rgba(255, 0, 0, 0.205);
}

.amarelo {
    background-color: rgba(255, 255, 0, 0.205);
}

.verde {
    background-color: rgba(0, 128, 0, 0.205);
}